.colMd {

  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .contactForms {
    width: 100%;

    .inputContacts {
      margin-top: 0;

      .helpName {
        color: #00d7bb;
        margin-bottom: 0;
        margin-top: 5px;
      }

      .nameInput span, .emailInput span, .textareaGroup span {
        color: #8491a2;
        font-size: 14px;
        left: 0;
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        pointer-events: none;
        text-transform: uppercase;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input, textarea {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #58616d;
        color: #8491a2;
        font-size: 14px;
        height: 35px;
        padding: 5px;
        text-transform: uppercase;
        width: 100%;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        resize: none;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

      }

      input, textarea {
        border-bottom: 2px solid #58616d;

      }

      input:focus, textarea:focus {
        border-bottom-color: #02cfb4;
        outline: none;
        box-shadow: none;
      }
      input.isFull ~ span,
      input:focus ~ span {
        color: #02cfb4;
        font-size: 11px;
        top: -3px;
      }

      textarea:focus ~ span {
        color: #02cfb4;
        font-size: 11px;
        top: -5px;
      }

      .row {
        margin-right: -15px;
        margin-left: -15px;
        display: flex;
        justify-content: space-between;

        .nameInput, .emailInput {
          position: relative;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          margin-bottom: 40px;
          width: 100%;
        }

        @media (max-width: 768px) {
          flex-direction: column;
        }
      }

      .messageTextareaAndButton {
        margin-right: -15px;
        margin-left: -15px;

        .textareaGroup {
          position: relative;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
          margin-bottom: 15px;

          .textAreaForm {
            height: 235px;
            overflow: auto;
          }

          > span {
            top: 5px;
          }

        }

        .colButton {
          width: 100%;

          .messageButton {
            display: flex;
            align-items: end;
            justify-content: center;
            margin-top: 12px;

            .button {
              background-color: transparent;
              color: #02cfb4;
              display: block;
              margin: 50px auto auto;
              padding: 13px 50px;
              text-transform: uppercase;
              -webkit-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s;
              position: relative;
              -o-border-image: linear-gradient(to right, #17D396, #07F7F7);
              border-image: -webkit-gradient(linear, left top, right top, from(#17D396), to(#07F7F7));
              border-image: linear-gradient(to right, #17D396, #07F7F7);
              border-image-width: 1px;
              border-image-slice: 1;
              font-family: inherit;
              font-size: inherit;
              line-height: inherit;
              -webkit-appearance: button;
              cursor: pointer;
              overflow: visible;

              &:hover {
                background-color: #17d397;
                font-weight: 600;
                color: #22252c;
                -webkit-box-shadow: 0 1px 20px rgba(22, 213, 144, 0.8);
                box-shadow: 0 1px 20px rgba(22, 213, 144, 0.8);
              }

            }

          }

        }

      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}







