.overAllBlock {
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    &::before {
        position: absolute;
        content: '';
        background-color: #00d7bb;
        background: linear-gradient(to right, #17D396, #07F7F7);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.7;

    }
    .container{
        .text {
            background: transparent;
            color: #fff;
            padding: 35px 0;
            position: relative;
            z-index: 1;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.4px;
            line-height: 26px;
            overflow-x: hidden;
            webkit-text-size-adjust: 100%;

            > h1 {
                font-size: 100px;
                font-weight: 300;
                font-family: inherit;
                line-height: 1.1;
                color: inherit;
                margin-left: -8px;
                box-sizing: border-box;
                display: block;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }

            >h3 {
                display: block;
                font-size: 50px;
                font-family: inherit;
                line-height: 1.1;
                color: inherit;
                font-weight: 600;
                margin: 5px 0;
                margin-left: -6px !important;

            }

            >p {
                font-size: 28px;
                font-weight: 400;
                margin-top: 10px;
                box-sizing: border-box;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                visibility: visible;
                animation-name: fadeInUp;
                font-family: inherit;
            }

        }

    }

}




