
.skillsBlock {
  min-height: 500px;
  background-color: #313741;
  padding: 120px 0;
  position: relative;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;

      .skillsIcon {
        margin-top: 130px;
        position: relative;
        box-sizing: border-box;

        &::before {
          border: 2px solid #00d7bb;
          border-radius: 50%;
          color: #00d7bb;
          content: ' ';
          background-image: url('https://www.svgrepo.com/show/57566/multi-skills-employee.svg');
          background-size: cover;
          background-color: #00d7bb;
          background-position: center;
          font-size: 25px;
          height: 50px;
          line-height: 65px;
          position: absolute;
          text-align: center;
          top: -50px;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 50px;

          @media (min-width: 992px) {
            left: 50%;
          }
        }

        .timeline {
          margin: 0;
          padding: 100px 0;
          position: relative;

          &::before {
            background-color: #00d7bb;
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 4px;
            @media screen and (min-width: 992px) {

              left: 50%;
              margin-left: -2px;

            }

          }

          &::after {
            background-color: #00d7bb;
            border-radius: 50%;
            bottom: 0;
            content: "";
            height: 20px;

            margin-left: -10px;
            position: absolute;
            width: 20px;
            box-sizing: border-box;
            @media (min-width: 992px) {
              left: 50%;
            }
          }


        }

        @media (min-width: 768px) {
          margin-left: 0;
        }
      }

      @media (min-width: 992px) {
        //margin-left: 8.33333333%;
        min-width: 83.33333333%;
      }
    }

  }

}

