
.skillsBlock {
    min-height: 500px;
    background-color: #313741;
    padding: 120px 0;
    position: relative;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}



.skills {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media screen and (min-width: 992px){
.skills{
    margin-left: 8.33333333%;
    min-width: 83.33333333%;
}
}
.skillsIcon{
    margin-top: 130px;
    position: relative;
    box-sizing: border-box;
}
@media screen and (min-width: 768px){
.skillsIcon{
    margin-left: 0;
}
}

.skillsIcon::before{


    border: 2px solid #00d7bb;
    border-radius: 50%;
    color: #00d7bb;
    content: "\f19d";
    font-family: fontawesome;
    font-size: 25px;
    height: 70px;
    /*left: 50%;*/
    line-height: 65px;
    position: absolute;
    text-align: center;
    top: -70px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
    /*box-sizing: border-box;*/
}
@media screen and (min-width: 992px){
.skillsIcon::before{
    left: 50%;
}
}
/*@media screen and (min-width: 768px){*/
/*.skillsIcon::before{*/
/*    left: 20px;*/
/*}*/
/*}*/
.skillsIcon .timeline{
    margin: 0;
    padding: 100px 0;
    position: relative;
}
.skillsIcon .timeline::before{
    background-color: #00d7bb;

}

@media screen and (min-width: 992px){
    .skillsIcon .timeline::after{
        left: 50%;
    }
}
.skillsIcon .timeline::after {
    background-color: #00d7bb;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 20px;

    margin-left: -10px;
    position: absolute;
    width: 20px;
    box-sizing: border-box;
}

/*@media only screen and (min-width: 992px){*/
/*    .skillsIcon .timeline::after{*/
/*        left: 50%;*/
/*    }*/
/*}*/
/*@media only screen and (min-width: 992px){*/
/*    .skillsIcon .timeline::after{*/
/*        left: 20%;*/
/*    }*/
/*}*/
.timeline::before{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}
@media screen and (min-width: 992px) {
    .timeline::before{
        left: 50%;
        margin-left: -2px;
    }
}

/*.skillsIcon .timelineBlock{*/
/*    margin: 0 0 150px;*/

/*}*/

/*.skillsIcon .timelineBlockImg{*/
/*    background-color: #313741;*/
/*    border: 2px solid #00d7bb;*/
/*    -webkit-box-shadow: none;*/
/*    box-shadow: none;*/
/*    height: 35px;*/
/*    margin-left: -17.5px;*/
/*    top: 25px;*/
/*    width: 35px;*/
/*    z-index: 1;*/
/*}*/
/*.timelineBlockImg{*/
/*    left: 50%;*/

/*    position: absolute;*/
/*}*/
/*.skillsIcon .timelineBlockImg span.dot{*/
/*    background-color: #00d7bb;*/
/*    border-radius: 50%;*/
/*    display: block;*/
/*    height: 10px;*/
/*    left: 50%;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    -webkit-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
/*    width: 10px;*/
/*}*/
/*.skillsIcon .timelineContent{*/
/*    text-align: right;*/

/*    !*do media for text align*!*/

/*    box-shadow: none;*/
/*    padding: 10px 0 0;*/
/*}*/
/*.timelineContent{*/
/*    margin-left: 0;*/
/*    width: 45%;*/
/*    !*do media for margin-left, width*!*/
/*    position: relative;*/
/*    !*background: white;*!*/
/*    border-radius: 0.25em;*/
/*}*/
/*.timelineContent::after{*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/
/*.timelineBlock::after{*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/
/*.skillsIcon .timelineContent h2{*/
/*    font-size: 27px;*/
/*    color: #00d7bb;*/
/*    font-weight: 700;*/
/*    margin-bottom: 5px;*/
/*    text-transform: uppercase;*/
/*}*/
/*.skillsIcon .descriptionWowForFadeInLeft{*/
/*    color: #fff;*/
/*    font-size: 14px;*/
/*    line-height: 25px;*/
/*    opacity: 1;*/
/*    padding: 0;*/
/*    text-align: left;*/

/*}*/
