@import "../common/style/sass/variables";
@import "../common/style/sass/mixins";

.header {
  height: 80px;
  padding: 0 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include text($titleFontFamily, 14px, 26px, $textColor);
  position: fixed;
  letter-spacing: 0.4px;
  opacity: 0.9;
  z-index: 9999;
  background-color: #00d7bb;
  background: linear-gradient(to right, #17D396, #07F7F7);
  left: 0;
  right: 0;
}

.isTop {
  background: transparent;
}