

.nav {
    display: flex;
    width: 400px;
    justify-content: space-between;
    >a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-family: inherit;
        &:hover{
            color: #22252c;
        }
    }

}

