.footersBlock{
    background-color: #22252c;
    padding: 30px 0;

}

.footersContainer{
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}


.footers{
    border: 1px solid green;
    width: 100%;
    display: flex;
align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    min-height: 1px;
}
.footersBlock hr{
    border-color: #313741;
    margin: 60px 0 30px;
    border: 0;
    border-top: 1px solid #eee;
}
.copyrighteAreaText{
    text-align: center;
    color: #02cfb4;

}